<section class="container-fluid">
<h2>Listing Location Types</h2>

<section class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @location_types.each do |location_type| %>
      <tr>
        <td><%= location_type.name %></td>
        <td><%= location_type.color || "n/a" %></td>
        <td><%= link_to 'Show', location_type %></td>
        <td><%= link_to 'Edit', edit_location_type_path(location_type) %></td>
        <td><%= link_to 'Destroy', location_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>

<%= link_to 'New Location type', new_location_type_path %>
</section>
<% render "layouts/standard_navbar" %>
